<mat-form-field>
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      (dateChange)="onDateChange($event, 'start')"
      [(ngModel)]="startDate"
      matStartDate
      placeholder="Start date"
      readonly
    >
    <input
      (dateChange)="onDateChange($event, 'end')"
      [(ngModel)]="endDate"
      matEndDate
      placeholder="End date"
      readonly
    >
  </mat-date-range-input>
  <mat-datepicker-toggle
    [for]="picker"
    matIconSuffix
  />
  <mat-date-range-picker
    #picker
  />
</mat-form-field>
