$main-background-color: #1E1E1E;
$main-text-color:#FFFFFF;
$route-page-name-color:#FFFFFF;

$input-background-color:#404040;
$input-placeholder-color:#B5B5B5;

$tab-selected-item:#2F88FF;
$tab-unselected-item:#2B2B2B;
$btn-background-color:#2F88FF;
$btn-text-color:#FFFFFF;
$btn-disabled-background-color:#174685;
$btn-disabled-text-color:#A4A4A4;
$input-underline-color:#2F88FF;

$card-background-color:#2B2B2B;
$card-address-name:#FFFFFF;
$card-additional-information-background:#606060;
$new-tag-background-color:#2F88FF;
$new-tag-text-color:#FFFFF;

$chat-user-name-color:#FFFFF;
$chat-short-message-color:#B5B5B5;
$chat-divider-color:#B5B5B5;

$logo-color:#ffff;
//radious
$btn-radius:20px;
$tab-navigation-radius:24px;

$side-bar-text-color:#FFFFF;
$side-bar-divider-color:#FFFFF;
$side-bar-background-color:#1E1E1E;
$side-bar-shadow:rgba(0, 0, 0, 0.25);

$tab-choose-color: #118DFF;
$tab-choose-title-color:#2F88FF;
$tab-not-choosed:#B5B5B5;
$tab-body-color:#f0f0f0;

$label-color:#A3A3A3;
$spending-footer-background-color:#262525;
// status
$pending-status-color:#3C3C3C;
$accepted-status-color: #d2ad14;
$pickedUp-status-color: rgba(179, 224, 65, 0.58);
$delivered-status-color:#007bff;
