<mat-accordion class="accordion-main-wrapper">
  <mat-expansion-panel class="accordion-panel-wrapper" *ngFor="let panel of panels">
    <mat-expansion-panel-header>
      <mat-panel-title class="section-header">
        {{ panel.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <div *ngFor="let section of panel.content">
        <h3 class="panel-contant-title">{{ section.title}}</h3>
        <div class="info">
          <div class="property" *ngFor="let item of section.content">
            <span class="property-name">{{ item.label }}:</span>
            <span class="property-value">{{ item.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
