:host {
  ::ng-deep {
    .mat-divider {
      border-top-color: #3C3C3C;
    }
  }
}

.navigation-header-block {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 5px;
}

.back-btn {
  background-color: transparent;
  border-color: transparent;
  color: #ffff;
  font-size: 20px;
}

.page-name {
  font-size: 25px;
  margin: 12px;
}

.main-header-block {
  margin-bottom: 10px;
  background: #1E1E1E;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
