@import "/src/assets/scss/variables";

:host::ng-deep {
  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: $input-underline-color;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $input-underline-color;
  }

  .mat-mdc-text-field-wrapper {
    border-radius: 15px;
    background-color: $input-background-color;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #A3A3A3;
  }

}

::ng-deep {
  .mat-mdc-select-arrow {
    color: $input-underline-color;
  }

  .mat-mdc-select-placeholder {
    color: #A3A3A3;
  }

  .mdc-menu-surface.mat-mdc-select-panel {
    background-color: $input-background-color;
    padding: 0;
  }

  .mdc-list-item__primary-text {
    color: $main-text-color;
  }
}

